name: Action-Test

on:
  push:
    branches:
      - main
    paths:
      - action.yml
      - .github/workflows/Action-Test.yml
      - scripts/**
  pull_request_target:
    branches:
      - main
    paths:
      - action.yml
      - .github/workflows/Action-Test.yml
      - scripts/**

jobs:
  DefaultTest:
    name: Test Action - [Default]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Initialize environment
        uses: PSModule/Initialize-PSModule@main

      - name: Test local action
        uses: ./
        with:
          APIKey: ${{ secrets.APIKEY }}
          Name: PSModuleTest
        env:
          GH_TOKEN: ${{ github.token }} # Used for GitHub CLI authentication
