name: Action-Test

on:
  push:
    branches:
      - main
  pull_request_target:
    branches:
      - main

jobs:
  ActionTestDefault:
    name: Action-Test - [Default]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Action-Test
        uses: ./
